/* Banner */
#banner {
  background-image: url("../../images/banner-meringue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -ms-behavior: url("css/ie/backgroundsize.min.htc"); }
  #banner .inner {
    background: #341b2b; }

/* CTA  */
#cta {
  background-image: url("../../images/banner-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -ms-behavior: url("css/ie/backgroundsize.min.htc"); }
